PORT = "your port"
JWT_SECRET = "gemerate a jwt secret key"
MONGO_URI = "database connection string"
API_KEY = "your open router api key"
API_SECRECT_KEY = "Your paystck secret key"
API_PUPLIC_KEY= "yuor paystack pubplic key"

